* {
    box-sizing: border-box;
    font-size: 16px;
  }
  
  :root {
    --yellow: #fb3;
    --dark: #611224;
    --dark-grey: #222;
    --comment-grey:#6c757d;
  }
  
  /* .btn-primary {
      color: #fff;
      background-color:var(--dark);
      border-color:var(--dark);
  }
  
  .btn-secondary {
      color: #fff;
      background-color: var(--dark-grey);
      border-color: var(--dark-grey)
  } */
  

  
  /* =============inavbar==================== */
  
  nav.navbar.navbar-light {
    margin-bottom: 32px;
    padding-bottom: 8px;
    background: rgba(0, 0, 0, .9) !important;
  }
  
  nav a.navbar-brand{
      color: #fff !important;
      transform: scale(0.9);
      transition: 0.3s; 
  }
  
  
  nav a.navbar-brand:hover{
      transform: scale(1.1);
      color:#fb3 !important;
      cursor: pointer;
  }
  
  
  .navbar-light .navbar-nav .active> .nav-link{
      color: #fb3;
  }
  
  nav.navbar ul.navbar-nav{
      text-transform: uppercase;
  }
  
  .navbar-light .navbar-nav .nav-link {
      color: #fff;
  }
  
  .navbar ul.navbar-nav li.nav-item>a.nav-link {
      position: relative;
      padding: 1rem 0 0.5rem;
      margin: 0 1.5rem;
      color: white;
      text-decoration: none;
      text-transform: uppercase;
  }
  
  
  nav.navbar ul.navbar-nav li.nav-item>a.nav-link::after {
      content: '';
      position: absolute;
      left: 50%;
      bottom: 0;
      -webkit-transform: translateX(-50%) scaleX(0);
      transform: translateX(-50%) scaleX(0);
      -webkit-transform-origin: 50% 50%;
      transform-origin: 50% 50%;
      width: 100%;
      height: 1px;
      background-color: var(--yellow);
      transition: -webkit-transform 250ms;
      transition: transform 250ms;
      transition: transform 250ms, -webkit-transform 250ms;
  }
  
  
  nav.navbar ul.navbar-nav li.nav-item>a.nav-link:hover{
      color:#fff !important;
  }
  
  nav.navbar ul.navbar-nav li.nav-item>a.nav-link:hover::after {
      -webkit-transform: translateX(-50%) scaleX(1);
      transform: translateX(-50%) scaleX(1);
  }
  
  
  /* =============index===================== */
  .content-section {
    background: #ffffff;
    padding: 10px 20px;
    border: 1px solid #dddddd;
    border-radius: 3px;
    margin-bottom: 20px;
  }
  
  .post-img {
    height: 60px;
    width: 60px;
    margin-right: 16px;
    border: 1px solid #dddd;
    margin-bottom: 4px;
  }
  
  .post-data {
    padding-bottom: 1px;
    margin-bottom: 5px;
    border-bottom: 1px solid #dddd;
  }
  
  .post-data > a {
    text-transform: capitalize;
    margin-left: 4px;
    padding-right: 4px;
  }
  
  .post-title a {
    color: #fb3 !important;
    text-transform: capitalize;
    font-size: 23px;
    line-height: 28px;
    text-shadow: 1px 1px 1px #222;
  }
  
  a.post-title:hover {
    color: #611224;
    text-decoration: #222;
  }
  
  .post-content {
    white-space: pre-line;
    /* font-size:18px; */
    line-height: 23px;
    color: var(--dark-grey) !important;
  }
  
  /* =============ennd index===================== */
  
  /* =============blogposr===================== */
  .comment-options {
    border: 1px solid #ddd;
    padding: 6px;
    margin-bottom: 10px;
    margin-top: -20px;
    border-radius: 0;
  }
  
  .row.comment-row{
      border-left:1px solid #ddd;
      border-right:1px solid #ddd; 
  }
  
  .comment-section {
    display: grid;
    grid-template-columns: 60px auto;
    padding: 10px 20px;
  }
  
  
  
  .comment-body {
    display: flex;
    background: rgb(170, 182, 194);
    border-radius: 20px;
    margin-left: 26px;
    padding: 8px 10px;
    color: #1c1e21;
    word-wrap: break-word;
    white-space: normal;
    word-break: break-word;
  }
  
  .comment-body a{
      text-transform: capitalize;
  }
  
  
  
  /* =============end blogpost===================== */
  
  /* =============user dfi===================== */
  .user-blog-posts-title{
      text-transform: capitalize;
  
  }
  
  .user-blog-posts-title img{
      height: 100px;
      width: 100px;
  
  }
  
  
  /* =============end usrblogpost===================== */
  /* =============index===================== */
  /* =============index===================== */
  /* =============index===================== */
  /* =============index===================== */
  /* =============index===================== */
  /* =============index===================== */
  /* =============index===================== */
  
  /* =============index===================== */
  /* =============index===================== */
  /* =============index===================== */
  /* =============index===================== */
  /* =============index===================== */
  /* =============index===================== */
  /* =============index===================== */
  /* =============index===================== *