{% extends 'base.html'%}
{% import 'bootstrap/wtf.html' as wtf %}
 {% block content %}

<div class="create-drift-form">
    <!-- {{wtf.quick_form(form)}} -->
  <form method='POST' action="" enctype="multipart/form-data">
    {{ form.hidden_tag() }}
    <div class="form-group">
      {{form.location.label(class='form-group')}}
      {{form.location(class='form-control')}}
    </div>
    <div class="form-group">
      {{form.date.label(class='form-group')}}
      {{form.date(class='form-control date-picker')}}
    </div>
    <div class="form-group">
      {{form.location_about.label(class='form-group')}}
      {{form.location_about(class='form-control-file')}}
    </div>
    <div class="form-group">
     {{form.price.label(class='form-group')}}
    {{form.price(class='form-control-file',type='number')}}
    </div>
    <div class="form-group">
            {{form.drift_image.label(class='form-group')}}
           {{form.drift_image(class='form-control-file')}}
           </div>
    <div class="form-group">
      {{form.submit(class='btn btn-outline-primary')}}
    </div>
  </form>

</div>

{% endblock content %}