<div class="jumbotron">
{{title}}
</div>
<div class="row">
    <div class="col-md-8">
<h1>
    LET'S DRIFT.
</h1>
<P>At let's drift, we believe that travel and change of place impaart new vigor to thee mind and that is why we have made it our goal to 
    give you an experience that will change your life. Since travel is the only thing you buy that makes you richer, we have a wealth of destinations that will leave you 
    richer than you were yesterday. 
</P>
    </div>
    <div class="col-md-4" id="pic1">
        <img src="../static/images/beach.jpeg" class="img-fluid">
    </div>

   
    <div class="col-md-8">
<p>
    Traditionally, travel was for the rich and famous but with our deflated prices and shared travel costs, we ensure that you get the best package for the trips and more value 
    for your money. why run the risk of spending your life not doing what you want on the bet that you can buy yourself the freedom to do it later?
</p>
    </div>
    <div class="col-md-4" id="pic2">
        <img src="../static/images/mount.jpeg" class="img-fluid">
    </div>
</div>

