
{% extends 'base.html'%} {% block content %} {% for drift in drifts %}

<article class="drift content-section">
    <img src="{{url_for('static',filename='profile_pics/'+drift.author.profile_image)}}" class="rounded-circle post-img" alt="">
  <div class="post-body">
    <div class="post-data">
      <a href="{{url_for('main.profile',uname=drift.author.username)}}"
        >{{ drift.author.username }}</a
      >
      <img src="{{url_for('static',filename='images/'+drift.drift_image)}}" class="" alt="">
      <small class="text-muted">{{ drift.date.strftime("%Y-%m-%d") }}</small>
    </div>
    <h2 class="post-title">
      <a href="{{url_for('main.single_driftpost',drift_id=drift.id)}}">{{
        drift.location
      }}</a>
    </h2>
    <p class="post-content">{{ drift.location_about}}</p>
  </div>
  <div class="post-footer">
  

  </div>
</article>

<!-- ============================Expressive Cards========================================== -->
<div class="drift-card card">
  <div class="wrapper">
    <div class="header">
      <div class="date">
        <span class="day">15</span>
        <span class="month">August</span>
        <span class="year">2019</span>
      </div>

      <ul class="menu-content">
        <li><a href="" class="fa fa-bookmark-o"></a></li>
        <li><a href="" class="fa fa-heart-o"><span>18</span></a></li>
        <li><a href="" class="fa fa-comment-o"><span>3</span></a></li>
      </ul>

      <div class="data">
        <div class="content">
          <span class="author">Dan Jugz</span>
          <h1 class="title"><a href="">Ovacado Fest</a></h1>
          <p class="text">The LOrem ipsum of avocado eating the baddest this side of the sahara</p>
          <a href="" class="button">Save a slot</a>
        </div>
      </div>

    </div>
  </div>
</div>
<!-- ====================================================================== -->


{% endfor %} {% endblock content %} 