<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<style>
    *{
        padding: 0;
        margin: 0;
    }

    .wrapper{
        width: 100%;
        height: 100vh;
        background: url(../static/images/forest.jpg);
        background-position: center;
        background-size: cover;
        display:flex;
        justify-content: center;
        flex-direction: column;
        font-size:2vw;
        color:#fff;


    }

    .btn{
        
    }
</style>
    <section class="cover-main" id="home">
            <div class="wrapper">
                <a href="{{url_for('main.home')}}"class="btn btn-outline-primary">
                    Get started today
                </a>
                   
        </div>
    </section>

   
    
</body>
</html>